<h1>HomePage</h1>
<p>Find me in app/views/home/index.html.erb</p>

<p><a href="/categories">Catégories</a></p>
<p><a href="/videos">vidéos</a></p>
<p><a href="/classifications">Classifications</a></p>
